<div ng-controller="ventaController as vm">
    <div class="panel panel-default">
        <div class="panel-heading">
            <a href="" ui-sref="portal" ui-sref-activate="activate">Menú Principal</a> / Ventas
        </div>
        <div class="panel-body" style="margin:10px">
            <form role="form" class="form-horizontal" novalidate name="frmVenta">
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label col-md-3">Fecha: </label>
                            <div class="col-md-8">
                                <input type="text" id="txtFecha" class="form-control" data-date-format="dd/mm/yyyy" ng-model="vm.fecha">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label col-md-3">Artículo: </label>
                            <div class="col-md-8">
                                <select class="form-control" ng-model="vm.Ventas.nArticulo" ng-change="vm.buscaPrecio()" id="cmbArticulos">
                                    <option value="">--Seleccione--</option>
                                    <option ng-repeat="item in vm.Articulo" value="{{item.Id}}">{{item.cDescripcion}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label col-md-3">Precio: </label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <span class="input-group-addon">S/</span>
                                    <input type="text" class="form-control text-right" ng-disabled="true" ng-model="vm.Ventas.nPrecioVenta">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label col-md-5">Cantidad: </label>
                            <div class="col-md-7">
                                <input type="number" class="form-control text-right" id="txtCantidad" ng-model="vm.Ventas.nCantidad" min="0">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <p>
                                <button type="button" class="btn btn-primary btn-block" ng-click="vm.agregaFila()">
                                    <span class="fa fa-plus"></span> Agregar</button>
                            </p>
                        </div>
                    </div>
                </div>
            </form>
            <div class="table-responsive" id="tblVentas">
                <table class="table table table-hover table-bordered ">
                    <thead>
                        <tr>
                            <th>Seleccionar</th>
                            <th>ID</th>
                            <th>Artículo</th>
                            <th>Precio</th>
                            <th>Cantidad</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody id="tblTbody">
                    </tbody>
                    <tfoot>
                        <td colspan="4" class="text-right">
                            <h4>
                                <b>Total:</b>
                            </h4>
                        </td>
                        <td class="text-right">
                            <h4>
                                <b>{{vm.Ventas.nCantidadTotal}}</b>
                            </h4>
                        </td>
                        <td class="text-right">
                            <h4>
                                <b>{{vm.Ventas.nTotalVenta | currency:'S/'}}</b>
                            </h4>
                        </td>
                    </tfoot>
                </table>
            </div>
            <div class="row">
                <div class="col-md-offset-3 col-md-3">
                    <p class="text-right">
                        <button class="btn btn-danger btn-block" id="btnEliminar" type="button" ng-click="vm.eliminarFila()">
                            <span class="fa fa-trash"></span> Eliminar Seleccionados</button>
                    </p>
                </div>
                <div class="col-md-3">
                    <p class="text-right">
                        <a class="btn btn-warning btn-block" ui-sref="portal" ui-sref-activate="activate">
                            <span class="fa fa-caret-square-o-left"></span> Regresar</a>
                    </p>
                </div>
                <div class="col-md-3">
                    <p class="text-right">
                        <button class="btn btn-success btn-block" id="btnEliminar" type="button" ng-click="vm.insertarVenta()">
                            <span class="fa fa-save"></span> Registrar Venta</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>