<div ng-controller="otrosController as vm">
    <div class="row">
        <div class="col-sm-12">
            <h4 class="page-title">Otros</h4>
            <p class="text-muted page-title-alt">
                <a href="" ui-sref="portal" ui-sref-activate="activate">Dashboard</a> / Otros
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card-box">
                <form class="form-horizontal" novalidate role="form" novalidate>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label col-md-3">Clase:</label>
                                <div class="col-md-8">
                                    <select class="form-control" ng-model="vm.Otros.nId">
                                        <option value="">--Seleccione--</option>
                                        <option value="1000">Tipo</option>
                                        <option value="2000">Marca</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label col-md-3">Descripción:</label>
                                <div class="col-md-8">
                                    <input type="text" id="txtDescripcion" class="form-control" ng-model="vm.Otros.cDescripcion" autofocus autocomplete="off">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label col-md-3"></label>
                                <div class="col-md-8">
                                    <div class="checkbox checkbox-primary">
                                        <input id="checkbox1" type="checkbox" ng-model="vm.Otros.nEstado">
                                        <label for="checkbox1">
                                            Activado
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="text-right">
                                <button type="button" class="btn btn-success btn-block" ng-click="vm.nuevo()">
                                    <span class="fa fa-plus"></span> Nuevo</button>
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p>
                                <button type="button" class="btn btn-primary btn-block" ng-click="vm.registrar()">
                                    <span class="fa fa-save"></span> Guardar</button>
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-6">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="" data-target="#Tipo" data-toggle="tab">
                        <span>Tipo</span>
                    </a>
                </li>
                <li>
                    <a href="" data-target="#Marca" data-toggle="tab">
                        <span>Marca</span>
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="Tipo">
                    <h4>Tipo</h4>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Descripción</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in vm.Tipos">
                                    <td>{{item.cNomCod}}</td>
                                    <td>
                                        <span class="label" ng-class="{'label-success':(item.nEstado==1), 'label-danger':(item.nEstado==0)}">
                                            {{(item.nEstado ? 'Activo':'Desactivado')}}</span>
                                    </td>
                                    <td>
                                        <button class="btn btn-primary btn-block" ng-click="vm.editar(item.Id, item.cNomCod, item.cValor, item.nEstado)">
                                            <span class="fa fa-pencil"></span> Editar</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane" id="Marca">
                    <h4>Marca</h4>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Descripción</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in vm.Marca">
                                    <td>{{item.cNomCod}}</td>
                                    <td>
                                        <span class="label" ng-class="{'label-success':(item.nEstado==1), 'label-danger':(item.nEstado==0)}">
                                            {{(item.nEstado ? 'Activo':'Desactivado')}}</span>
                                    </td>
                                    <td>
                                        <button class="btn btn-primary btn-block" ng-click="vm.editar(item.Id, item.cNomCod, item.cValor, item.nEstado)">
                                            <span class="fa fa-pencil"></span> Editar</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>